form#Registro {
    font-size: 20px;
    padding: 40px;
    margin-top: 700px;
    margin-bottom: 40px;
    color: #555555;
    width: 500px;
    border: outset 1px #555555;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;

}

form#Registro input {
    font-size: 25px;
    margin-top: -3px;
    border: solid 1px;
    border-radius: 3px;
    width: 345px;
    height: 45px;
}

#LblNombreUsuario, #LblNombreCompleto, #LblContraseña, #LblCorreo, #LblFechaNacimiento, #LblApellido, #LblSexo {
    margin-top: 22px;
    margin-bottom: -25px;
    font-family: "Bell MT";
    font-size: 23px;
    letter-spacing: 2px;
}

::placeholder {
    font-size: 17px;
}

form#Registro button, .botonConIcono #EnviarInicioSesion {

    color: white;
    height: 45px;
    width: 270px;
    font-size: 25px;
    padding-left: -5px;
    margin-left: 50px;
    border: outset 1px #555555;
    border-radius: 5px;
    background: olivedrab;
    font-family: "Bell MT";
}

.inputConIcono input {
    padding-left: 50px;
    margin-left: 10px;
}

.inputConIcono {
    position: relative;
}

.inputConIcono i {
    position: absolute;
    left: -10px;
    top: 3px;
    padding: 1px 15px;
    color: #aaaaaa;
    transition: 3s;
}

.inputConIcono input:focus + i {
    color: dodgerblue;
}

.botonConIcono {
    position: relative;
}

.botonConIcono i {
    position: absolute;
    left: 235px;
    top: 13px;
    padding: 1px 15px;
    color: white;
}

.tituloConIcono {
    position: relative;
}

.tituloConIcono i {
    position: absolute;
    left: 120px;
    top: 30px;
    color: royalblue;
}

form #Registro input,label, i,p{
    margin-left: 10px;
}

#Registro h1{
    font-family: "Agency FB";
    font-size: 45px;
    padding-bottom: 10px;
    color: black;
    margin-left: 10px;
    margin-bottom: -20px;
}

.OpcionesSexo label{
    position: relative;
    color: gray;
    top: -15px;
    margin-left: 40px;
}

.OpcionesSexo #m, .OpcionesSexo #f{
    margin-left: 10px;
    width: 7%;
}

#LblCuenta{
    font-size: 15px;
    margin-left: 100px;
    margin-bottom: 20px;
}


